/*
Color Scheme found at:
http://www.colorcombos.com/color-schemes/11/ColorCombo11.html
*/

body {
    margin:0;
    padding:0;
    background-color: #FFF8DC;
    font-size:110%;
    font-family: sans-serif;
    overflow-x: hidden;
}

#headerDiv {
    color:white;
    background-color:#222;
    padding:10px;
    text-align: center;
    width:100%;
}

#infoDiv {
    width:80%;
    margin:40px auto;
    text-align: center;
    font-size: 150%;
    color:white;
}

#infoDiv p {
  color: #834C24;
  font-weight: 700;
}

#left-side {
  float: left;
  width: 22%;
}

right-side {
  float: right;
  width: 77%;
}

.variables {
    width:80%;
    margin:0 auto;
}

.variables p {
  font-weight: 700;
  color: #003366;
}

input {
    width:100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin:0;
    border-radius:4px;
    border:1px solid grey;
    outline: none;
}

textarea {
    width:100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin:0;
    border-radius: 4px;
    outline: none;
    resize: vertical;
}

a {
    margin:10px;
    color: #834C24;
}

#preview {
  width: 77%;
  height: 800px;
}

#footerDiv {
    width:100%;
    margin:0 auto;
    text-align: center;
    background-color:#222;
    padding:10px;
}

#footerDiv a {
  color: white;
}

.image-choice {
  margin-left: 1px;
  margin-right: 1px;
}

.image-choice img {
  height: 1em;
  vertical-align: middle;
}
